/* Hero Banner */
.hero {
    background: #050f24;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #FFFFFF; 
    position: relative;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background: rgba(0,0,0,0.4);
}


.hero-content {
    position: relative;
    z-index: 1;
}

.hero h1 {
    font-size:30px;
    margin-bottom: -3px;
}